#a{
    background-color: red;
}
.b{
    background-color: blue;
}
.c{
    color: aqua;
}
*{
    background-color: black;

}

h3,h4{
    background-color: beige;
    color: red;
}
.box{
    height: 100px;
    width: 100px;
    background-color: red;
    position: relative;
    right: 0px;
    top: 0px;
}

